apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
data:
  logstash.conf: |
    input {
      file {
        path => "/var/log/backend/app.log"
        start_position => "beginning"
        sincedb_path => "/dev/null"
      }
    }

    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "backend-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
